Support for full chain validation on issued certificates

**Describe the bug**:
While it seems that this is a highly discussed change,  #3865 reorders the certificate chain and puts the following into issued secrets:

Given a simple chain of a root CA and single intermediate CA to sign certificates, secrets will now have:
```
❯ kubectl get secrets my-cert -o jsonpath="{.data.ca\.crt}" | base64 -D
-----BEGIN CERTIFICATE-----
<root CA>
-----END CERTIFICATE-----

❯ kubectl get secrets my-cert -o jsonpath="{.data.tls\.crt}" | base64 -D
-----BEGIN CERTIFICATE-----
<my certificate>
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
<intermediate CA>
-----END CERTIFICATE-----
```

And while the discussion in #3865 and #3619 raises valid points about the intent of [RFC 5246, section 7.4.2](https://tools.ietf.org/html/rfc5246#section-7.4.2), this breaks functionality of downstream consumers of the generated Secret who read these fields verbatim:
```
❯ kubectl get secrets my-cert -o jsonpath="{.data.ca\.crt}" | base64 -D > ca.crt
❯ kubectl get secrets my-cert -o jsonpath="{.data.tls\.crt}" | base64 -D > tls.crt
❯ openssl verify -CAfile ca.crt tls.crt
O = Org, OU = Team, CN = Intermediate CA
error 2 at 1 depth lookup: unable to get issuer certificate
error tls.crt: verification failed
```

Specifically, those who use cert-manager to populate secrets for Istio mtls, will start seeing this response, due to the CA chain being out of order:
```
140668351733064:error:14094418:SSL routines:ssl3_read_bytes:tlsv1 alert unknown ca:ssl/record/rec_layer_s3.c:1543:SSL alert number 48
```

**Expected behaviour**:
I would expect to have an unprescribed way to fetch and order the chain to validate certificates, such that the above `openssl verify` command would succeed. 

While this could be satisfied by moving the root CA to be appended to the `ca.crt` field (such that the ordered ca chain is present in the `ca.crt` field), this negates the work of #3865 intending on making that field exclusive for the issuing CA.

Therefore, I suggest the addition of a field in the Secret to specifically contain the remainder of the CA chain, such that downstream consumers can validate the issued `tls.crt` by building their chain from this new field and depend on `ca.crt` to be the issuing CA:
```
❯ kubectl get secrets my-cert -o jsonpath="{.data.ca\.crt}" | base64 -D > ca.crt
❯ kubectl get secrets my-cert -o jsonpath="{.data.tls\.crt}" | base64 -D > tls.crt
❯ kubectl get secrets my-cert -o jsonpath="{.data.ca-chain\.crt}" | base64 -D > ca-chain.crt
❯ openssl verify -CAfile ca-chain.crt ca.crt tls.crt
ca.crt: OK
tls.crt: OK
```

**Steps to reproduce the bug**:
1. Install cert-manager 1.4
2. Install your Issuer of choice
3. Create a valid Certificate resource against that Issuer
4. Inspect the values of the generated secret: `ca.crt` contains the issuer CA and the rest of the chain is appended to `tls.crt`

**Anything else we need to know?**:
As a note, the value of certificates in `ca-chain` (if that's the field name that we end up using) needs to also contain the issuer CA as well, otherwise downstream consumers will not be able to treat the chain as trusted:
```
❯ openssl verify -CAfile ca-chain.crt ca.crt tls.crt
ca.crt: OK
O = Org, OU = Team, CN = my-cert.domain.com
error 20 at 0 depth lookup: unable to get local issuer certificate
error tls.crt: verification failed
❯ openssl verify -CAfile ca-chain.crt -untrusted ca.crt tls.crt
tls.crt: OK
```

**Environment details:**:
- Kubernetes version: v1.18.17
- Cloud-provider/provisioner: GKE
- cert-manager version: v1.4.0

/kind bug


Thanks for raising this issue :+1: I've been thinking a bunch about this, and I'd first like to say it's super neat for me personally to be working with someone from Blizzard; I've sunk many hours into StarCraft II and watched it live in South Korea :grin: 

We discussed this in our standup meeting today, and I think the best way to proceed is to ensure that we're all on the same page regarding what exactly is happening here. X.509 is obviously a pretty gnarly spec and it can be confusing.

## Assumptions

I understand that you have a certificate chain which is as-follows (I've named the root `CR`, the intermediate `CI` and the leaf `CE` so that we can refer to them easily):

```text
Root -> Intermediate -> Leaf
 CR          CI          CE
```

I believe you're wanting to use `CE` as a _client_ certificate, connecting to a server which accepts certs which chain back to `CR`. (**⚠️ This is crucial to get right so please confirm.**)

I believe you have a cert-manager Issuer which is using `CI` to issue leaf certificates (**⚠️ Can you confirm this? Is it a Vault issuer or a CA issuer?**)

Before cert-manager 1.4, that issuer would have created the following Secret data:

```text
ca.crt: CI
tls.crt: CE -> CI
```

After 1.4, the cert-manager Issuer creates the following Secret data:

```text
ca.crt: CR
tls.crt: CE -> CI
```

**If anything above is not true, please correct me!**

## Thoughts

There are several things going on here, and I'm trying to be careful with my language because as I said earlier, this is a confusing spec we're dealing with.

First, I'm fairly confident that `tls.crt` is correct. I don't think you're suggesting that it _isn't_ correct, but crucially if it is correct, the Secret that gets written has everything that is required for `CE` to be used.

My understanding is that nothing in `ca.crt` should be required for `CE` to be used in a correctly configured environment.

One issue we have here is that `ca.crt` isn't really documented or defined anywhere that I can see, so what it _should_ contain is difficult to pin down (side note: I think part of the reason for that lack of definition is that there's consensus that `ca.crt` was a mistake, generally speaking). But as I mentioned above, whatever `ca.crt` contains it shouldn't affect the ability to use the Secret in a correctly configured environment.

If Istio relies on `ca.crt` being in a specific format or containing a specific part of the chain, that would in my opinion probably be a mistake on Istio's part, but I'm not really familiar enough with Istio or Envoy to be able to say what it requires.

## Conclusion

I'd like to get you to a point where things are working and I recognise that this comment is getting long. Could you please check what I've written and confirm if anything is incorrect?

Thanks for looking into this issue!  Let me give more context around what our requirements are and validate assumptions.

The PKI we're using for our use case is indeed a simple chain of:

```
Root -> Intermediate -> Leaf
 CR          CI          CE
```

Where we have many different intermediates off of the same CR, and are using a CI specifically to handle mTLS authentication to our workloads via an [Istio Secure Gateway](https://istio.io/latest/docs/tasks/traffic-management/ingress/secure-ingress/#configure-a-tls-ingress-gateway-for-a-single-host).  We self-signed this CR and use [Vault PKI](https://www.vaultproject.io/docs/secrets/pki) to manage the CI and requests for certificates.  Cert-manager is configured with as Issuers to our Vault endpoint, with different issuers having a different backing role to Vault.  Through this issuer, we will generate Leaf certificates for both the server's fqdn and client certificates.  Clients will present their issued certificate upon connecting to the cluster's ingress and Istio validates that certificate with the ca chain it has for the given server host.

More context, Istio has the ability to read the ca chain from a secondary opaque secret (suffixed with `-cacert`) and we populated that secret with the full chain (CI, CR).  These values were statically generated and are not kept up to date by any means of automation or operator.

The objective I'm wanting to address is collapsing those down to be entirely managed by cert-manager's single tls secret and have the entire chain validated by Istio's handshake.

So yes, prior to 1.4 (we're looking to upgrade from 1.1), our cert-manager provided secrets looked like this:
```
data:
  ca.crt: CI
  tls.crt: CE -> CI
```

And supplimented with the opaque secret `-cacert`, which looks like this:
```
data:
  cacert: CI -> CR
```

And our client certificates generated from the same CI looks like this:
```
data:
  ca.crt: CI
  tls.crt: CE -> CI
```

And now server with 1.4, without the supplimental opaque `-cacert` secret present:
```
data:
  ca.crt: CR
  tls.crt: CE -> CI
```

And clients the same:
```
data:
  ca.crt: CR
  tls.crt: CE -> CI
```

Except without the `-cacert`, clients fail their handshake to Istio with SSL Error 48.  I'm by no means an Istio dev, but know that they simply hand off the CA directly to Envoy.  If I turn off the cert-manager watch (by scaling down the cert-manager workload) and manually edit the server's tls secret to be this:

```
data:
  ca.crt: CI -> CR
  tls.crt: CE -> CI
```

Clients are able to connect successfully (without the supplimental secret).

## Thoughts
I'm supportive of the change that moved CR into `ca.crt`, but was basing my position from the position of the openssl example I pasted before.  I was making the assertion that verifying the entire chain with the value of `ca.crt` passed as the value to `-CAfile` without needing to manipulate the data at all.  I.e. something like this:

```
# cat ca.crt tls.crt > combined.crt
# openssl verify -CAfile combined.crt tls.crt
tls.crt: OK
```

Where ca.crt was just the CR and tls was CE -> CI.  I see your point about this possibly being an Istio issue instead, and can certainly follow up with them to address this.  The original suggestion of creating an additional field to contain the full chain would have required them to modify how they process the secret data as well.



FWIW: I would suspect this to be an Istio/Envoy issue. We use a lot of internal PKI, with multiple intermediate CAs. That is why I was so eager to fix the issue with the `ca.crt`. 😉 And service mesh is something we have been looking at, but with multiple clusters and trust domains, we would love to use intermediate CAs for the mesh mTLS. But it seems like Envoy [does not fully support it](https://github.com/envoyproxy/envoy/issues/1220), and I have no idea what Istio has done on top of that. Kuma, that also builds on top of Envoy explicitly states that only root CA is support (no intermediates): https://kuma.io/docs/1.1.5/policies/mutual-tls/#ca-requirements. And according to the technical sales staff in Kong, this was because of an Envoy limitation.

## This Issue

I think what stands out to me here is this section:

> Clients will present their issued certificate upon connecting to the cluster's ingress and Istio validates that certificate with the ca chain it has for the given server host.

If I understand this correctly, the server is checking that the client's certificate was **issued by the same CA as the server's certificate**?

If so, I think I understand the issue now:

1. In cert-manager 1.3, the server's list of acceptable CAs for client certs was `CI`, because that's what was in `ca.crt` for the _server's_ certificate
2. In cert-manager 1.4, the server's list of acceptable CAs for client certs is now `CR`, because that's what's in `CR`
3. Because Envoy doesn't support chains of certificates for whatever reason, even when the client sends a totally valid chain (`CE -> CI`) Envoy has to reject it.

If the above is correct, I think the big question for me would be: what were your plans if `CI` needed to be rotated due to exposure or expiry?

If the server cert's chain was being used as list of acceptable client CAs, I can't see any way of doing a rotation of `CI` without causing serious downtime. I might be wrong (and if I am, please tell me!) but it sounds like a potential issue in your environment; I don't think using the server cert's chain in this way is a sustainable use of TLS long term.

## Background

I've spent a bunch of time looking into how Envoy does things and what's going on under the hood here, and I think I'd tend to agree with Erik that likely there's something different/unusual about what Envoy does.

Honestly, it's hard to follow what's going on in Envoy's TLS code and a lot of the docs/issues I've read haven't really helped.

I think [this comment](https://github.com/envoyproxy/envoy/issues/1220#issuecomment-430876442) is illuminating for me:

> We would like to have an intermediate CA which is not known to envoy, but envoy is aware of the root CA. It should be possible to open the connection to envoy with a client certificate which is signed by this intermediate CA.

i.e. it's a feature request for Envoy, asking for it to work in the same way that the entire internet already works with TLS. I'm surprised anyone has to ask for this; I'd have honestly thought it would be _more difficult_ to implement a tool which uses TLS which doesn't support intermediates out of the box.

I'm sure there's some interesting history behind this, and reasons for why Envoy is the way it is, but that's a bit of a diversion.

Hi @rcreasey - any follow up on your side on this one? I think the big takeaway from this issue is that Envoy might have unusual handling of intermediate certificates, and there's not really much we can do on our side to handle that. I think the team is loath to make cert-manager's behaviour here configurable, so this issue might be as far as we can go? What do you think?

Closing due to lack of activity :+1: 