Does ca.crt entry contains the actual signing CA or Root CA?

<!--
Bugs should be filed for issues encountered whilst operating cert-manager.
You should first attempt to resolve your issues through the community support
channels, e.g. Slack, in order to rule out individual configuration errors.
Please provide as much detail as possible. 
-->

**Describe the bug**:

When using CA Issuer and providing an intermediate CA, ca.crt entry only contains the intermediate CA. Please see below example:

ClusterIssuer:  **tls.crt**
- intermediate CA (signing CA)
- root CA

ClusterIssuer:  **tls.key**
- the private key paired with the above intermediate CA

Generated certificate entity **ca.crt**:
- intermediate CA

Generated certificate entity **tls.crt**:
- leaf certificate
- intermediate CA

**Expected behaviour**:
But according to the document: https://cert-manager.io/docs/concepts/certificate/, `The certificate chain doesn’t include a root CA certificate, as it is stored in ca.crt.`

> Additionally, if the Certificate Authority is known, the corresponding CA certificate will be stored in the secret with key ca.crt. For example, with the ACME issuer, the CA is not known and ca.crt will not exist in acme-crt-secret.
> 
> When a certificate is issued by intermediates of the CA and the Issuer knows the intermediates, the content of tls.crt will be a resulting certificate followed by a certificate chain. The certificate chain doesn’t include a root CA certificate, as it is stored in ca.crt.
> 
> This format is used as it allows TLS implementations to validate the leaf certificate as long as the root CA is already trusted. During the TLS handshake, peers construct a full trust chain by checking the issuer of each certificate until they end up at a root in their trust store. If the intermediates aren’t sent along with the leaf, there’s no way to know that the issuing CA was signed by the root, and the certificate won’t be trusted.

During the TLS handshake, the server sends the full certificate chain except for the Root CA (leaf cert -> intermediate CA). The client verifies the server's certificate chain. If the chain can't be built to a trusted self-signed Root CA, the verification should fail. 

It would be useful if the ca.crt entry contains the Root CA, instead of the intermediate CA/issuing CA.

What's intention for ca.crt which is implemented to contain the issuing CA not the Root CA (when issuing CA is different from the Root CA)? 

Thanks!

**Steps to reproduce the bug**:
<!--Steps to reproduce the bug should be clear and easily reproducible to help people
gain an understanding of the problem.-->

**Anything else we need to know?**:

**Environment details:**:
- Kubernetes version:
- Cloud-provider/provisioner:
- cert-manager version: 
- Install method: e.g. helm/static manifests

/kind bug


/priority backlog
/area ca

> What is the intention for `ca.crt` to contain the issuing CA and not the Root CA (when issuing CA is different from the Root CA)?

Not sure myself, @wallrj what do you think?


I also need this feature. The trust chain should be provided to the client. This should be done also in the JKS-Truststore and the PKCS12-Truststore

We would also love to see this issue fixed! Any chance we can get a cert-manager maintainer to have a look? 🤔 As indicated by @munnerz in this [K8s Slack thread](https://kubernetes.slack.com/archives/C4NV3DWUC/p1590147887299900), this issue seems to touch delicate matters....

Hi, I am taking a look at the issue today!

/assign

To reproduce the issue, I created the following chain:



```plain
     rootca          (using a SelfSignedIssuer)
        |                                      
        |                                      
        |                                      
        |                                      
        v                                      
 intermediateca      (using a CAIssuer based on rootca)        
        |                                      
        |                                      
        |                                        
        |                                      
        v                                      
      leaf           (using a CAIssuer based on intermediateca)
```

<details>
<summary>📦 Manifests</summary>

```yaml
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: selfsigned-issuer
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: rootca
spec:
  secretName: rootca-tls
  commonName: rootca
  isCA: true
  issuerRef:
    name: selfsigned-issuer
    kind: Issuer
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: rootca-issuer
spec:
  ca:
    secretName: rootca-tls
---
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: intermediateca
spec:
  commonName: intermediateca
  isCA: true
  issuerRef:
    kind: Issuer
    name: rootca-issuer
  secretName: intermediateca-tls
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: intermediateca-issuer
spec:
  ca:
    secretName: intermediateca-tls
---
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: leaf
spec:
  dnsNames:
    - example.com
  issuerRef:
    kind: Issuer
    name: intermediateca-issuer
  secretName: leaf-tls
```

</details>

I then looked at the `ca.crt` value in the `leaf-tls` secret (I took the below command [from here](https://serverfault.com/questions/590870/how-to-view-all-ssl-certificates-in-a-bundle); it displays each certificate of the chain):

```sh
% openssl crl2pkcs7 -nocrl -certfile <(kubectl get secret leaf-tls -ojsonpath='{.data.ca\.crt}' | base64 -d) | openssl pkcs7 -print_certs -text -noout
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            31:68:d0:75:...
    Signature Algorithm: sha256WithRSAEncryption
        Issuer: CN=rootca
        Validity
            Not Before: Mar 25 13:07:27 2021 GMT
            Not After : Jun 23 13:07:27 2021 GMT
        Subject: CN=intermediateca
        Subject Public Key Info:
            Public Key Algorithm: rsaEncryption
                Public-Key: (2048 bit)
                Modulus:
                    00:ac:12:09:...
                Exponent: 65537 (0x10001)
        X509v3 extensions:
            X509v3 Key Usage: critical
                Digital Signature, Key Encipherment, Certificate Sign
            X509v3 Basic Constraints: critical
                CA:TRUE
            X509v3 Subject Key Identifier:
                7A:CE:4D:F2:...
            X509v3 Authority Key Identifier:
                keyid:21:B4:...

    Signature Algorithm: sha256WithRSAEncryption
         82:a9:4e:1d:...
```

As @yanjunli76 said above, only the `intermediateca` is set in `ca.tls`, which is kind of annoying since I would expect the full CA chain (rootca + intermediateca) to appear in `ca.tls`.

This behavior seems to be due to the `intermediateca-issuer` only copying the `tls.crt` into the leaf's `ca.crt`:

```plain
     rootca                                  tls.crt                  
        |                                      |                      
        |                                      |                      
        |signs             rootca-issuer copies|                      
        |                      cert into ca.crt|                      
        v                                      v                      
 intermediateca                             ca.crt   tls.crt          
        |                                               |             
        |                                               |             
        |signs              intermediateca-issuer copies|             
        |                               cert into ca.crt|             
        v                                               v             
      leaf                                           ca.crt    tls.crt
```

I really wish the CAIssuer would also copy its own `ca.crt` into the leaf's `ca.crt`... Does it make sense? @irbekrm @SgtCoDFish 

@maelvls FWIW, I would expect `ca.crt` to only contain the root certificate, and `tls.crt` to contain the full certificate chain - in "proper order": leaf -> intermediate -> root.

And the Vault issuer was fixed in this PR: https://github.com/jetstack/cert-manager/pull/3433. It would be nice if the CA issuer could do something equivalent.

Thank you for the precision; you are right, it does not make sense to have a chain of certificates in the leaf's `ca.tls` 😅 I re-drqwn the diagram to make that clearer:

```plain
     rootca                             tls.crt                                                    
        |                                 |                                                        
        |                                 |                            CURRENT BEHAVIOR            
        |signs        rootca-issuer copies|                                                        
        |                 cert into ca.crt|                                                        
        v                                 v                                                        
 intermediateca                        ca.crt   tls.crt  <--------❌    intermediateca's own        
        |                                          |                   ca.crt is not copied        
        |                                          |                   over to the leaf's          
        |signs         intermediateca-issuer copies|                   ca.crt!                     
        |                          cert into ca.crt|                                               
        v                                          v                                               
      leaf                                      ca.crt    tls.crt                                  
                                                                                                   
                                                                                                   
     rootca                             tls.crt                        WISHED BEHAVIOR             
        |                                 |                                                        
        |                                 |                                                        
        |signs        rootca-issuer copies|                            intermediateca's ca.crt     
        |                 cert into ca.crt|                            copied over to leaf's ca.crt
        v                                 v                            +                           
 intermediateca                        ca.crt   tls.crt  <-------✅     intermediateca's tls.crt    
        |                                   \       \                  copied over to the TOP of   
        |                                    \       \                 leaf's tls.crt chain        
        |signs                                \       \                                            
        |                                      \       \                                           
        v                                       v       v                                          
      leaf                                   ca.crt    tls.crt                          
```

@maelvls Thanks a lot for looking into this! ❤️ We have implemented a hack as a workaround currently, and would love to see this fixed. I have a feeling the CA issuer was designed without intermediate CA in mind, and that is ok. But in our case we need it.

I am not sure if I completely understand your diagram, but I think it is ok. 😅 Please let me know if you need further input from us! And/or if there is something we can test in our environment - to see if we can remove our workaround.

@erikgb Sorry for my confusing diagram! I updated it with more explanations, does it help? 😅

Now waiting for feedback from @irbekrm, @jakexks, @SgtCoDFish!

> @maelvls FWIW, I would expect `ca.crt` to only contain the root certificate, and `tls.crt` to contain the full certificate chain - in "proper order": leaf -> intermediate -> root.

I think this comment is a really good summary of how we want it to work, except I'd caveat that `tls.crt` shouldn't contain the root.

The motivation for this comes from [RFC 5246, section 7.4.2](https://tools.ietf.org/html/rfc5246#section-7.4.2):

> The sender's certificate MUST come first in the list.  Each following certificate MUST directly certify the one preceding it.
> Because certificate validation requires that root keys be distributed independently, the self-signed certificate that specifies the root certificate authority MAY be omitted from the chain, under the assumption that the remote end must already possess it in order to validate it in any case.

I think I view `ca.crt` as informational; it shouldn't be directly used by clients. Distributing root certs is something I think is on the roadmap for cert-manager in the future, but that's a separate thing to this issue.

The fix for this issue, then would be something like:

- If the CA is an intermediate certificate (i.e., it's a CA, and its issuer DN and subject DN are different)
- Then the CA certificate (and its chain _except_ the root) should be appended to `tls.crt` in the issued leaf certificate
- And the contents of `ca.crt` in the leaf should be the root which the issuing intermediate chains back up to, if possible

If the issuing intermediate doesn't provide a link to its root, I'm not sure the best course of action. We'd either leave `ca.crt` blank or add the issuing intermediate into `ca.crt` as a fallback. Given that adding the intermediate is the current behaviour, probably that's the only option here, otherwise we'd risk breaking things.

@SgtCoDFish Why do you think it better to leave out the root (self-signed) certificate in `tls.crt`? The specification states that the root certificate authority **MAY** be omitted from the chain. On the contrary, I think cert-manager should include the root sertificate as well, to make the certificate chain in `tls.crt` complete, if cert-manager has the root certificate. Even if it is just  informative, information does not hurt. 😄

To my experience, it is not uncommon to have the same "trust anchor" in both ends in mTLS, and in that case it is very convenient to be able to use `ca.tls` to establish trust to the other end. The client should decide if `ca.crt` is useful in their case, so even if it is just "informational", I think it can be very useful. At least in our case.... 😉 

Another comment (reminder), that might be obvious/superfluous? I think we should make sure that it is possible to use any number of intermediate CAs for the CA issuer. If the certificate chain for the CA issuer e.g. looks like this:
```text
root
|---intermediate1
    |---intermediate2
        |---intermediate3
            |--- ca-issuer
````
The certificate issued by cert-manager should be (in `tls.crt`): `leaf -> ca-issuer -> intermediate3 -> intermediate2 -> intermediate1 -> root`.

To configure the CA issuer, I would expect to put the CA issuer full certificate chain in the Secret used to sign the leaf certificates. Ref: https://cert-manager.io/docs/configuration/ca/. With the same structure (and order) as `tls.crt` in the signed leaf certificate provided to the client.

> @SgtCoDFish Why do you think it better to leave out the root (self-signed) certificate in `tls.crt`? ... Even if it is just informative, information does not hurt.

You make an interesting point, but in this case, though, I think I'd argue that information actually does hurt.

For example, the root CA I trust to be able to connect to github.com and write this comment is 1.4kB (1360B). That's not a trivial overhead to impose for purely informational purposes for developers, in my view. That's a fairly significant percentage of the size of the entire TLS handshake.

I don't actually even think it's informational (or rather, it's not providing any useful information):

- If the client already has the root, it can easily work out which root corresponds to the given chain by looking at the issuer field on the intermediate and checking its signature against a root with a matching subject DN in the trust store. It already has the exact root, so there's nothing new being sent by sending the root in the chain.
- If the client doesn't have the root, it _cannot_ trust any part of the the presented certificate chain and so who cares what's in the chain?

> To my experience, it is not uncommon to have the same "trust anchor" in both ends in mTLS, and in that case it is very convenient to be able to use `ca.tls` to establish trust to the other end. The client should decide if `ca.crt` is useful in their case, so even if it is just "informational", I think it can be very useful. At least in our case.... wink

That's good to know regarding `ca.crt` - and I think we're in agreement that this issue would be valuable to fix by including the correct root in `ca.crt`.

I worded the comment badly I think - I meant to highlight that distributing a trust store intelligently is a thing on the roadmap and that's what I view as the "proper" solution for this. Until then, `ca.crt` is a useful tool.

> Another comment (reminder), that might be obvious/superfluous? I think we should make sure that it is possible to use any number of intermediate CAs for the CA issuer. 

I'll certainly make sure this is the case when this issue is being resolved: I was careful to highlight this in my previous comment:

> Then the CA certificate **(and its chain except the root)** should be appended to `tls.crt` in the issued leaf certificate

+1 that the ca.crt should be best effort, and should be the only place the
root self signed cert should be stored.

There has been a previous discussion on this, which ultimately led to it
being documented in the ‘Concepts’ section:
https://cert-manager.io/docs/concepts/certificate/

> Additionally, if the Certificate Authority is known, the corresponding CA
certificate will be stored in the secret with key ca.crt. For example, with
the ACME issuer, the CA is not known and ca.crt will not exist in
acme-crt-secret.

> When a certificate is issued by intermediates of the CA and the Issuer knows
the intermediates, the content of tls.crt will be a resulting certificate
followed by a certificate chain. The certificate chain doesn’t include a
root CA certificate, as it is stored in ca.crt.

On Mon, 29 Mar 2021 at 09:58, Ashley Davis ***@***.***> wrote:

> @SgtCoDFish <https://github.com/SgtCoDFish> Why do you think it better to
> leave out the root (self-signed) certificate in tls.crt? ... Even if it
> is just informative, information does not hurt.
>
> You make an interesting point, but in this case, though, I think I'd argue
> that information actually does hurt.
>
> For example, the root CA I trust to be able to connect to github.com and
> write this comment is 1.4kB (1360B). That's not a trivial overhead to
> impose for purely informational purposes for developers, in my view. That's
> a fairly significant percentage of the size of the entire TLS handshake.
>
> I don't actually even think it's informational (or rather, it's not
> providing any useful information):
>
>    - If the client already has the root, it can easily work out which
>    root corresponds to the given chain by looking at the issuer field on the
>    intermediate and checking its signature against a root with a matching
>    subject DN in the trust store. It already has the exact root, so there's
>    nothing new being sent by sending the root in the chain.
>    - If the client doesn't have the root, it *cannot* trust any part of
>    the the presented certificate chain and so who cares what's in the chain?
>
> To my experience, it is not uncommon to have the same "trust anchor" in
> both ends in mTLS, and in that case it is very convenient to be able to use
> ca.tls to establish trust to the other end. The client should decide if
> ca.crt is useful in their case, so even if it is just "informational", I
> think it can be very useful. At least in our case.... wink
>
> That's good to know regarding ca.crt - and I think we're in agreement
> that this issue would be valuable to fix by including the correct root in
> ca.crt.
>
> I worded the comment badly I think - I meant to highlight that
> distributing a trust store intelligently is a thing on the roadmap and
> that's what I view as the "proper" solution for this. Until then, ca.crt
> is a useful tool.
>
> Another comment (reminder), that might be obvious/superfluous? I think we
> should make sure that it is possible to use any number of intermediate CAs
> for the CA issuer.
>
> I'll certainly make sure this is the case when this issue is being
> resolved: I was careful to highlight this in my previous comment:
>
> Then the CA certificate *(and its chain except the root)* should be
> appended to tls.crt in the issued leaf certificate
>
> —
>
>
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/jetstack/cert-manager/issues/3619#issuecomment-809202796>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AABRWP54E7RPKCIWOCKV43LTGBFMTANCNFSM4W2HWVDQ>
> .
>


@SgtCoDFish @munnerz Thanks a lot for your involvement in this issue. After reading through your comments, I think we all agree? I did not think about the potential overhead of actually sending the root certificate over the wire. Thanks for clarifying this (to me) @SgtCoDFish! 🙏 

Agreed, looks like we have reached a consensus! It seems to fit the "good first issue" label since the issue is self-contained and well-scoped and is an interesting first take for anyone interested in X.509!

/good-first-issue

@maelvls: 
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.


<details>

In response to [this](https://github.com/jetstack/cert-manager/issues/3619):

>Agreed, looks like we have reached a consensus! It seems to fit the "good first issue" label since the issue is self-contained and well-scoped and is an interesting first take for anyone interested in X.509!
>
>/good-first-issue


Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https://github.com/kubernetes/test-infra/issues/new?title=Prow%20issue:) repository.
</details>

I will try to set up a PR to fix this!

/assign

/reopen

@erikgb: You can't reopen an issue/PR unless you authored it or you are a collaborator.

<details>

In response to [this](https://github.com/jetstack/cert-manager/issues/3619#issuecomment-814770552):

>/reopen


Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https://github.com/kubernetes/test-infra/issues/new?title=Prow%20issue:) repository.
</details>

reopening!

Worth noting here about https://github.com/cert-manager/website/pull/499 which can be reviewed + merged after #3865 