ACMEDNS with reused credentials for many domains makes it impossible to issue a certificate

<!--
Bugs should be filed for issues encountered whilst operating cert-manager.
You should first attempt to resolve your issues through the community support
channels, e.g. Slack, in order to rule out individual configuration errors.
Please provide as much detail as possible. 
-->

**Describe the bug**:
<!--
A clear and concise description of what the bug is. 
Tip: you can use 
```
<code here>
```
for code blocks of your kubectl output or YAML files.
-->
I configured cert-manager with ACMEDNS (DNS01 challenge) according to the [official docs](https://cert-manager.io/docs/configuration/acme/dns01/acme-dns/), **reusing the same credentials block** in the Issuer config for the main wildcard and multi-level wildcard domains (`e.g. *.domain.com, *.clients.domain.com`), using an ACME-DNS instance hosted on a different domain (`e.g. acmedns.myotherdomain.com`). It worked normally in this case.

Then I added ~6 more domains (`*.z.com, cats.com, dogs.com, ...`) and it started having troubles issuing the certificate.

Some challenges were ok, others were "invalid" or "pending" state forever.
I could see `"msg"="propagation check failed" "error"="DNS record for ... not yet propagated"` or `Incorrect TXT record` errors logged for many days.

After looking into the cert-manager code I figured out the problem could have been caused by the fact that challenges are run in parallel and I use a single acmedns instance with a single acmedns credentials. Starting cert-manager with `--max-concurrent-challenges 1` caused the certificate to be issued. I can't easily verify (other than waiting for the next renewal).

If that is the possible cause, maybe it would be worth documenting it or at least keep this issue in the archive.
The admedns docs explicitly says `You can specify multiple domains with the same credentials if you like`.

**Expected behaviour**:
<!--A concise description of what you expected to happen.-->
A certificate should be issued correctly.

**Steps to reproduce the bug**:
<!--Steps to reproduce the bug should be clear and easily reproducible to help people
gain an understanding of the problem.-->
- configure cert-manager with acme-dns for *.domain.com, *.clients.domain.com, cats.com, pets.com using a single instance of acmedns at acmedns.myadmehos.com and reuse the same credentials for every domain in the Issuer config.

**Anything else we need to know?**:

**Environment details:**:
- Kubernetes version: 1.19.4
- Cloud-provider/provisioner: Scaleway
- cert-manager version: 1.2.0-alpha.1, 1.1.0
- Install method: e.g. helm/static manifests: Helm

/kind bug


Hi! I was wondering if we could create a small minimal working environment e.g. using `kind` in order to reproduce the issue? e.g.,

1. run acme-dns as a container with some credentials,
2. create a local kind cluster using the same docker network,
3. install cert-manager 1.1
3. create an issuer that tagets acme-dns,
4. create many short-lived certs (1 minute?),
5. wait until renewal

What do you think?


/priority important-soon
/area acme/dns01
/milestone Next

I think it might be a shortcoming of acme-dns. The readme says (emphasis mine):

> Rolling update of _**two TXT records**_ to be able to answer to challenges for certificates that have both names: yourdomain.tld and *.yourdomain.tld, as both of the challenges point to the same subdomain.

Meaning that if your configuration requires more than two challenges for the same acme-dns subdomain they will roll over each other.

My workaround is to issue one set of acme-dns credentials for each domain.

It is really acme-dns limitation, thanks @svvac for mentioning this possibility.

I have looked into the [relevant acme-dns code](https://github.com/joohoi/acme-dns/blob/68bb6ab654b6fb1fe375e08807688c55621513a2/db.go#L256), it uses `LIMIT 2` in the SQL query. It then presents up to those 2 most-recent challenges.

Theoretically more than 2 TXT records could be supported but there is 4096 byte limit in DNS response and acme-dns author [doesn't like the idea](https://github.com/joohoi/acme-dns/issues/76) of supporting more than 2 records.

- So the first possible workaround is appending `--max-concurrent-challenges 1` (maybe even `--max-concurrent-challenges 2`; untested) argument to the cert-manager to limit the concurrent challenges. That way calls to acme-dns are serialized.

- The other way way seems to be using multiple `acme-dns subdomains` (with their respective credentials) as @svvac suggested. I haven't tested this myself (yet) but it makes sense, this should also work.

Keeping the issue open as the cert-manager documentation for acme-dns should be amended to describe this limitation.

/milestone v1.3

TBD for v1.3: document on https://cert-manager.io the workaround/limitation for `acme-dns` 



/assign 

I'll take care of adding the documetation now

/milestone v1.4
/unassign

/assign maelvls

For future reference, here is a detailed explanation of why one cannot use more than 2 subdomains with acme-dns.

Imagining that I am running `acme-dns` on 81.82.83.84, and if I want to have certificate for the subdomains `mael.pw`, `blog.mael.pw` and `minio.mael.pw` using a single acme-dns credential (`da81d9b9-4ed1-5343-9a44-4e78f9ead5d9`), my nameserver would look like this:

```sh
NAME                              TYPE    TTL    DATA
acme-dns.mael.pw.                 NS      300    acme-dns.mael.pw.
acme-dns.mael.pw.                 A       300    81.82.83.84
_acme-challenge.mael.pw.          CNAME   300    da81d9b9-4ed1-5343-9a44-4e78f9ead5d9.acme-dns.mael.pw
_acme-challenge.blog.mael.pw.     CNAME   300    da81d9b9-4ed1-5343-9a44-4e78f9ead5d9.acme-dns.mael.pw
_acme-challenge.minio.mael.pw.    CNAME   300    da81d9b9-4ed1-5343-9a44-4e78f9ead5d9.acme-dns.mael.pw
```

I then create this Certificate:

```yaml
kind: Certificate
spec:
  issuerRef: acme-dns-mael-pw
  dnsNames:
    - mael.pw
    - blog.mael.pw
    - minio.mael.pw
```

cert-manager will first do a call to `acme-dns.mael.pw` to add the TXT records. The TXT records in my acme-dns's database will look like:

```sh
NAME                              TYPE  TTL    DATA
da81d9b9-4ed1-5343-9a44-4e78f9ead5d9.acme-dns.mael.pw.      TXT   300    D-XoblaY4uYM-PO8FrRcbRj45cQF-aYluYM4Xob
da81d9b9-4ed1-5343-9a44-4e78f9ead5d9.acme-dns.mael.pw.      TXT   300    D-52Wm4V7xoUpGax-F8FrPO45cQRcbRj-XoblaY4uYM
da81d9b9-4ed1-5343-9a44-4e78f9ead5d9.acme-dns.mael.pw.      TXT   300    D-UpGxoax52Wm4V7-52Wm4V7xoUpGax-Y4uYXobMla
```

Let's Encrypt then proceeds with trying out the challenges.

Since ACME servers have to follow CNAME records (like any other DNS client), the resolution of `_acme-challenge.mael.pw.` should looks like this:

```sh
_acme-challenge.mael.pw.
└── CNAME da81d9b9-4ed1-5343-9a44-4e78f9ead5d9.acme-dns.mael.pw
    ├── TXT D-XoblaY4uYM-PO8FrRcbRj45cQF-aYluYM4Xob
    ├── TXT D-52Wm4V7xoUpGax-F8FrPO45cQRcbRj-XoblaY4uYM
    └── TXT D-UpGxoax52Wm4V7-52Wm4V7xoUpGax-Y4uYXobMla
```

Let's Encrypt is able to work with these multiple TXT records, as per [RFC 8555, sec. 8.4](https://datatracker.ietf.org/doc/html/rfc8555#section-8.4)). When resolving the challenge's domain, it iterates over the values of the returned TXT records looking for `D-XoblaY4uYM-PO8FrRcbRj45cQF-aYluYM4Xob`.

When a TXT record is requested, acme-dns runs [this](https://github.com/joohoi/acme-dns/blob/68bb6ab654b6fb1fe375e08807688c55621513a2/db.go#L256) function returns at most 2 TXT records for one given "domain" (in acme-dns's ligua, "domain" refers to the UID that identifies one set of credentials, for example `da81d9b9-4ed1-5343-9a44-4e78f9ead5d9`). I reproduced and simplified the function for the purpose of the demonstration:

```go
func GetTXTForDomain(domain string) ([]string, error) {
    var txts []string
    q := db.Prepare(`SELECT Value FROM txt WHERE Subdomain=$1 LIMIT 2`) // 🔥
    rows, _ := q.Query(domain)
    for rows.Next() {
        txts = append(txts, rows.Scan())
    }
    return txts, nil
}
```

The 3 TXT records were properly registered by acme-dns; but when my acme-dns calls to the function:

```go
values := GetTXTForDomain("da81d9b9-4ed1-5343-9a44-4e78f9ead5d9")
fmt.Printf("%v", values)
```

it only returns the 2 first TXT values!

```sh
D-XoblaY4uYM-PO8FrRcbRj45cQF-aYluYM4Xob
D-52Wm4V7xoUpGax-F8FrPO45cQRcbRj-XoblaY4uYM
```

The challenge for `_acme-challenge.minio.mael.pw.` will never succeed.

As detailed in [joohoi/acme-dns#76](https://github.com/joohoi/acme-dns/issues/76), the reason for only returning two TXT records is due to one limitation one specific ACME server: Boulder. Boulder, which is Let's Encrypt's ACME backend, can [only](https://github.com/letsencrypt/boulder/blob/5457680a9c8ce34d0456ccf289ed347a8529a31e/bdns/dns.go#L277-L280) process DNS responses 4096 bytes long.
